    - name: Set startup command
      uses: azure/appservice-settings@v1
      with:
        app-name: 'samtin-sampleapi'
        app-settings-json: |
          [
            {
              "name": "WEBSITES_PORT",
              "value": "8000"
            },
            {
              "name": "STARTUP_COMMAND",
              "value": "gunicorn -w 4 -k uvicorn.workers.UvicornWorker main:app"
            }
          ]

